// MAIN COLORS
$orange: rgb(255, 165, 0);
$orangeButtonHovered: rgb(240, 201, 126);
$menuPanel: rgb(4, 2, 55);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

// SQUARES
$emptyTargetSquare: rgb(104, 230, 104);
$targetSquareWithPice: rgb(243, 95, 95);

// BACKGROUNDS
$dialogsBackground: rgba(0, 0, 0, 0.702);
$gameResultsBtnBackground: rgb(0, 102, 128);
$gameResultsBtnBackgroundHovered: rgb(50, 137, 158);
$menuBtnBackground: rgb(0, 102, 128);
$menuBtnBackgroundHovered: rgb(101, 3, 3);
$saveGameSlotsBackground: rgb(101, 130, 194);
$saveGameSlotsHoverBackground: rgb(129, 150, 194);
$saveGameSlotsBackgroundDisabled: rgba(3, 110, 136, 0.537);

// TEXT
$winnerNameAndAxiosText: rgb(110, 142, 249);
$deadPositionTypeText: rgb(221, 234, 106);
$playerDataNames: rgb(157, 166, 240);
$placeholderText: rgb(204, 200, 200);

// BORDERS
$gameResultsBtnBorder: rgba(0, 0, 0, 0.398);

// GLOW
$orangeGlowEffect: #ffcc00;
