.mainContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.boardContainer {
	width: 87vh;
	height: 87vh;
	border-radius: 25px;
	overflow: hidden;
	box-shadow: 5px 5px 20px 10px;
}

.frameContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-image: url("@/images/board/borders.jpg");
	border: 2px solid black;
}

.sqaresContainer {
	display: flex;
	flex-wrap: wrap;
	width: 93%;
	height: 93%;
	border: 2px solid black;

	.whiteSquare, .blackSquare {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 12.5%;
		height: 12.5%;
	
		img {
			width: 50%;
			margin-bottom: 2px;
		}

		.hide {
			display: none;
		}
	}
	
	.whiteSquare {
		background-image: url("@/images/board/squareW.jpg");
	}
	
	.blackSquare {
		background-image: url("@/images/board/squareB.jpg");
	}
}

