.mainContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.boardContainer {
	width: 87vh;
	height: 87vh;
	border-radius: 25px;
	overflow: hidden;
	box-shadow: 5px 5px 20px 10px;
}

.frameContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-image: url("@/images/board/borders.jpg");
	border: 2px solid black;
}

.sqaresContainer {
	display: flex;
	flex-wrap: wrap;
	width: 93%;
	height: 93%;
	border: 2px solid black;

	.whiteSquare, .blackSquare {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 12.5%;
		height: 12.5%;
		user-select: none;
	
		img {
			width: 50%;
			margin-bottom: 2px;
		}

		.hide {
			display: none;
		}
	}
	
	.whiteSquare {
		background-image: url("@/images/board/squareW.jpg");
	}
	
	.blackSquare {
		background-image: url("@/images/board/squareB.jpg");
	}

	.increasePieceScale {											// It applies to squares that contain a piece of the player who is going to move.
		cursor: pointer;

		img {
			scale: 1;
			transition-property: scale;
			transition-duration: 0.2s;

			&:hover {
				scale: 1.2;
			}
		}
	}

	.targetEmptySquare {
		border: 5px inset rgb(104, 230, 104);
		cursor: pointer;
	}

	.targetSquareWithPiece {
		position: relative;
		border: 5px inset rgb(243, 95, 95);
		cursor: pointer;

		&::after {
			content: "";
			position: absolute;
			top: 5%;
			border-radius: 50%;
			border: 3px solid rgb(243, 95, 95);
			width: 90%;
			height: 90%;
		}
	}
}

