@use "./colors" as *;

@keyframes backgroundDarkening {
	0% {
		opacity: 0;

	}
	100% {
		opacity: 1;
	}
}

@keyframes endGameGrowing {
	0% {
		scale: 0;

	}
	100% {
		scale: 1;
	}
}

@keyframes fireworksOpacity {
	0% {
		opacity: 0;

	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes portraitP1Horizontal {
	0% {
		transform: translateX(-1200px);
		animation-timing-function: ease-in;
	}
	50% {
		transform: translateX(0px);
	}
	85% {
		transform: translatex(-50px);
		animation-timing-function: ease-out;
	}
	100% {
		transform: translatex(0px);
		animation-timing-function: ease-in;
	}
}

@keyframes portraitP2Horizontal {
	0% {
		transform: translateX(1200px);
		animation-timing-function: ease-in;
	}
	50% {
		transform: translateX(0px);
	}
	85% {
		transform: translatex(50px);
		animation-timing-function: ease-out;
	}
	100% {
		transform: translatex(0px);
		animation-timing-function: ease-in;
	}
}

@keyframes portraitP1Vertical {
	0% {
		margin-top: 0rem;
	}
	50%{
		margin-top: 1rem;
	}
	75% {
		margin-top: 0rem;
	}
	100% {
		margin-top: 1.5rem;
	}
}

@keyframes portraitP2Vertical {
	0% {
		margin-top: 0rem;
	}
	20% {
		margin-top: 0rem;
	}
	40% {
		margin-top: 1.3rem;
	}
	90% {
		margin-top: 0rem;
	}
}

@keyframes backgroundFlash {
	0% {
		background-color: rgba(0, 0, 0, 0.607);
	}
	50% {
		background-color: white;
	}
	100% {
		background-color: rgba(0, 0, 0, 0.607);
	}
}

@keyframes sparks {
	0% {
		visibility: visible;
	}
	18% {
		visibility: hidden;
	}
	71% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}


.mainContainer {
	position: absolute;
	top: 0%;
	left: 0%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: $dialogsBackground;
	z-index: 1;
	animation: backgroundDarkening 1s;
}

.winnerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
	height: 570px;
	animation: endGameGrowing 3.5s;
	
	.winnerPortraitContainer {
		display: flex;
		justify-content: center;

		.winnerPortrait {
			width: 60%;
			border-radius: 50%;
			border: 4px solid $orange;
			z-index: 2;
		}

		.firework {
			position: absolute;
			z-index: -1;
		}
	
		.fireworkGround {
			top: 20%;
			left: 49%;
			rotate: 91deg;
			animation: fireworksOpacity 4.3s;
		}

		.fireworkGround2 {
			top: 20%;
			left: 28%;
			rotate: -90deg;
			animation: fireworksOpacity 4.3s;
		}
	}


	.winnerNameContainer {
		margin-top: 1rem;
		text-align: center;

		.winsText {
			font-size: 8rem;
			font-family: 'Bungee Spice', cursive;
		}

		.winnerName {
			font-size: 6.5rem;
			color: $winnerNameAndAxiosText;
			font-weight: 900;
			font-family: 'Tilt Neon', sans-serif;
			text-shadow: 0 0 3px $black, 0 0 3px $black, 0 0 3px $black, 0 0 3px $black;
		}
	}
}

.btnContinue {
	width: 200px;
	height: 60px;
	margin-top: 1rem;
	cursor: pointer;
	color: $orange;
	font-size: 2rem;
	font-weight: 800;
	border-radius: 15px;
	background-color: $gameResultsBtnBackground;
	border: 7px solid $gameResultsBtnBorder;
	transition-property: color, background-color;
	transition-duration: 0.3s;

	&:hover {
		color: $orangeButtonHovered;
		background-color: $gameResultsBtnBackgroundHovered;
	}
}


.drawContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
	height: 570px;
}

.playersContainer {
	display: flex;
	justify-content: center;
	height: 365px;

	.player1Container {
		position: relative;

		.player1Portrait {
			width: 100%;
			border-radius: 50%;
			border: 4px solid $orange;
			animation: portraitP1Horizontal 1.5s linear, portraitP1Vertical 1s infinite alternate 1.6s;
		}
		
		.sparks {
			position: absolute;
			top: 30%;
			right: -28%;
			width: 55%;
			visibility: hidden;
			animation: sparks 1s forwards 0.75s
		}

	}

	.player2Container {

		.player2Portrait {
			width: 100%;
			border-radius: 50%;
			border: 4px solid $orange;
			animation: portraitP2Horizontal 1.5s linear, portraitP2Vertical 1s infinite alternate 1.6s;
		}
	}

}

.drawTitleContainer {
	display: flex;
	flex-direction: column;
	align-items: center;

	.drawText {
		font-family: 'Bungee Spice', cursive;
		font-size: 8rem;
	}

	.drawTypeText {
		font-size: 3.5rem;
		color: $deadPositionTypeText;
		font-weight: 900;
		font-family: 'Tilt Neon', sans-serif;
		text-shadow: 0 0 3px $black, 0 0 3px $black, 0 0 3px $black, 0 0 3px $black;
	}
}



//  MEDIA QUERIES

@media (width > 1900px) {
	.winnerContainer {
		width: 1200px;
		height: 770px;
		
		.winnerPortraitContainer {
	
			.winnerPortrait {
				width: 75%;
			}
		
			.fireworkGround {
				top: 23%;
				left: 50%;
			}
	
			.fireworkGround2 {
				top: 23%;
				left: 29%;
			}
		}
	
	
		.winnerNameContainer {
			margin-top: 2rem;
	
			.winsText {
				font-size: 9.5rem;
			}
	
			.winnerName {
				font-size: 8.5rem;
				text-shadow: 0 0 4px $black, 0 0 4px $black, 0 0 4px $black, 0 0 4px $black;
			}
		}
	}
	
	.btnContinue {
		width: 240px;
		height: 80px;
		margin-top: 3rem;
		font-size: 2.8rem;
		border: 8px solid $gameResultsBtnBorder;
		border-radius: 18px;
	}
	
	
	.drawContainer {
		width: 700px;
		height: 770px;
	}
	
	.playersContainer {
		height: 650px;
	
		.player1Container {
			
			.sparks {
				top: 27%;
				right: -30%;
				width: 60%;
			}
	
		}
	}
	
	.drawTitleContainer {
	
		.drawText {
			font-size: 9.5rem;
		}
	
		.drawTypeText {
			font-size: 4.5rem;
			text-shadow: 0 0 4px $black, 0 0 4px $black, 0 0 4px $black, 0 0 4px $black;
		}
	}
}



@media (width > 2500px) {
	.winnerContainer {
		width: 2500px;
		height: 1000px;
		
		.winnerPortraitContainer {
	
			.winnerPortrait {
				width: 85%;
			}
		
			.firework {
				scale: 1.5;
			}

			.fireworkGround {
				top: 23%;
				left: 51.5%;
			}
	
			.fireworkGround2 {
				top: 23%;
				left: 32.5%;
			}
		}
	
		.winnerNameContainer {
			margin-top: 4rem;
	
			.winsText {
				font-size: 15.5rem;
			}
	
			.winnerName {
				font-size: 10rem;
				text-shadow: 0 0 4px $black, 0 0 4px $black, 0 0 4px $black, 0 0 4px $black;
			}
		}
	}
	
	.btnContinue {
		width: 260px;
		height: 90px;
		margin-top: 3rem;
		font-size: 3.5rem;
		border: 11px solid $gameResultsBtnBorder;
		border: 9px solid $gameResultsBtnBorder;
	}
	
	
	.drawContainer {
		width: 1700px;
		height: 1000px;
	}
	
	.playersContainer {
		height: 650px;
	
		.player1Container {
			
			.sparks {
				top: 27%;
				right: -30.5%;
				width: 60%;
			}
	
		}
	}
	
	.drawTitleContainer {
	
		.drawText {
			font-size: 15.5rem;
		}
	
		.drawTypeText {
			font-size: 6.5rem;
			text-shadow: 0 0 4px $black, 0 0 4px $black, 0 0 4px $black, 0 0 4px $black;
		}
	}
}


@media (width > 3800px) {

	.winnerContainer {
		width: 2500px;
		height: 1700px;
		
		.winnerPortraitContainer {
			width: 30%;
	
			.winnerPortrait {
				border: 6px solid $orange;
			}
		
			.fireworkGround {
				top: 25%;
				left: 55%;
				scale: 2.7;
			}
	
			.fireworkGround2 {
				top: 25%;
				left: 34%;
				scale: 2.7;
			}
		}
	
	
		.winnerNameContainer {
			margin-top: 5rem;
	
			.winsText {
				font-size: 18rem;
				margin: 2rem 0rem 5rem 0rem;
			}
	
			.winnerName {
				font-size: 10rem;
				text-shadow: 0 0 5px $black, 0 0 5px $black, 0 0 5px $black, 0 0 5px $black;
			}
		}

		.btnContinue {
			width: 400px;
			height: 130px;
			margin-top: 1rem;
			font-size: 5rem;
			border: 14px solid $gameResultsBtnBorder;
			border-radius: 30px;
		}
	}
	
	.btnContinue {
		width: 300px;
		height: 85px;
		margin-top: 1rem;
		font-size: 3.5rem;
		border: 14px solid $gameResultsBtnBorder;
		border: 9px solid $gameResultsBtnBorder;
	}
	
	
	.drawContainer {
		width: 2000px;
		height: 1000px;
		scale: 1.5;
	}
	
	.playersContainer {
		height: 650px;
	
		.player1Container {
	
			.player1Portrait {
				border: 6px solid $orange;
			}
			
			.sparks {
				top: 27%;
				right: -29%;
				width: 57%;
			}
		}
	
		.player2Container {
	
			.player2Portrait {
				border: 6px solid $orange;
			}
		}
	}
	
	.drawTitleContainer {
	
		.drawText {
			font-size: 14rem;
		}
	
		.drawTypeText {
			font-size: 5.5rem;
			text-shadow: 0 0 5px $black, 0 0 5px $black, 0 0 5px $black, 0 0 5px $black;
			margin-bottom: 4rem;
		}
	}
}



@media (width < 1500px) {

	.winnerContainer {
		width: 500px;
		height: 700px;
		
		.winnerPortraitContainer {
	
			.winnerPortrait {
				width: 75%;
			}
		
			.fireworkGround {
				top: 23%;
				left: 50%;
				scale: 1.2;
			}
	
			.fireworkGround2 {
				top: 23%;
				left: 22%;
				scale: 1.2;
			}
		}
	
	
		.winnerNameContainer {
			margin-top: 2rem;
	
			.winsText {
				font-size: 9.5rem;
			}
	
			.winnerName {
				font-size: 6.5rem;
				text-shadow: 0 0 3px $black, 0 0 3px $black, 0 0 3px $black, 0 0 3px $black;
			}
		}
	}
	
	.btnContinue {
		width: 190px;
		height: 60px;
		margin-top: 2rem;
		font-size: 2.1rem;
		border: 6px solid $gameResultsBtnBorder;
		border-radius: 15px;
	}
	
	
	.drawContainer {
		width: 550px;
		height: 630px;
	}
	
	.playersContainer {
		height: 500px;
	
		.player1Container {
			
			.sparks {
				top: 26%;
				right: -30%;
				width: 60%;
			}
	
		}
	}
	
	.drawTitleContainer {
	
		.drawText {
			font-size: 9.5rem;
		}
	
		.drawTypeText {
			font-size: 4.5rem;
			text-shadow: 0 0 3px $black, 0 0 3px $black, 0 0 3px $black, 0 0 3px $black;
		}
	}
}



@media (width < 1300px) {

	.winnerContainer {
		width: 330px;
		height: 580px;
		
		.winnerPortraitContainer {
	
			.winnerPortrait {
				width: 75%;
			}
		
			.fireworkGround {
				top: 23%;
				left: 47%;
				scale: 1.2;
			}
	
			.fireworkGround2 {
				top: 23%;
				left: 22%;
				scale: 1.2;
			}
		}
	
	
		.winnerNameContainer {
			margin-top: 2rem;
	
			.winsText {
				font-size: 8rem;
			}
	
			.winnerName {
				font-size: 5.5rem;
				text-shadow: 0 0 3px $black, 0 0 3px $black, 0 0 3px $black, 0 0 3px $black;
			}
		}
	}
	
	.btnContinue {
		width: 180px;
		height: 55px;
		margin-top: 2rem;
		font-size: 2rem;
		border: 6px solid $gameResultsBtnBorder;
		border-radius: 15px;
	}
	
	
	.drawContainer {
		width: 450px;
		height: 550px;
	}
	
	.playersContainer {
		height: 380px;
	
		.player1Container {
			
			.sparks {
				top: 26%;
				right: -30%;
				width: 60%;
			}
	
		}
	}
	
	.drawTitleContainer {
	
		.drawText {
			font-size: 9rem;
		}
	
		.drawTypeText {
			font-size: 3.5rem;
			text-shadow: 0 0 3px $black, 0 0 3px $black, 0 0 3px $black, 0 0 3px $black;
		}
	}
}



@media (width < 1200px) {

	.winnerContainer {
		width: 330px;
		height: 580px;
		
		.winnerPortraitContainer {
	
			.fireworkGround {
				top: 23%;
				left: 44%;
				scale: 1.2;
			}
	
			.fireworkGround2 {
				top: 23%;
				left: 19%;
				scale: 1.2;
			}
		}
	
	
		.winnerNameContainer {
			margin-top: 2rem;
	
			.winsText {
				font-size: 9rem;
			}
	
			.winnerName {
				font-size: 4.5rem;
				text-shadow: 0 0 3px $black, 0 0 3px $black, 0 0 3px $black, 0 0 3px $black;
			}
		}
	}
	
	.btnContinue {
		width: 180px;
		height: 55px;
		margin-top: 2rem;
		font-size: 2rem;
		border: 6px solid $gameResultsBtnBorder;
		border-radius: 15px;
	}
	
	
	.drawContainer {
		width: 450px;
		height: 550px;
	}
	
	.playersContainer {
		height: 380px;
	
		.player1Container {
			
			.sparks {
				top: 26%;
				right: -30%;
				width: 60%;
			}
	
		}
	}
	
	.drawTitleContainer {
	
		.drawText {
			font-size: 9rem;
		}
	
		.drawTypeText {
			font-size: 3.5rem;
			text-shadow: 0 0 3px $black, 0 0 3px $black, 0 0 3px $black, 0 0 3px $black;
		}
	}
}


@media (width < 1050px) and (orientation: landscape) {

	.winnerContainer {
		
		.winnerPortraitContainer {
	
			.fireworkGround {
				top: 21%;
				left: 41%;
			}
	
			.fireworkGround2 {
				top: 21%;
				left: 20%;
			}
		}
	
		.winnerNameContainer {
	
			.winsText {
				font-size: 9rem;
				margin-top: 1rem;
			}
		}
	}
	
	.drawTitleContainer {
	
		.drawTypeText {
			margin-bottom: 1rem;
		}
	}
}








@media (width < 1050px) and (orientation: portrait) {

	.winnerContainer {
		width: 550px;
		height: 800px;
		
		.winnerPortraitContainer {
	
			.fireworkGround {
				top: 28%;
				left: 42%;
				scale: 1.6;
			}
	
			.fireworkGround2 {
				top: 28%;
				left: 19%;
				scale: 1.6;
			}
		}
	
	
		.winnerNameContainer {
			margin-top: 4rem;
	
			.winsText {
				font-size: 12rem;
				margin-top: 2rem;
			}
	
			.winnerName {
				font-size: 5rem;
			}
		}
	}
	
	.btnContinue {
		width: 250px;
		height: 75px;
		margin-top: 4rem;
		font-size: 3.6rem;
		border: 8px solid $gameResultsBtnBorder;
	}
	
	
	.drawContainer {
		width: 550px;
		height: 750px;
	}
	
	.playersContainer {
		height: 380px;
	}
	
	.drawTitleContainer {
		margin-top: 8rem;

		.drawText {
			font-size: 12rem;
		}
	
		.drawTypeText {
			font-size: 5.5rem;
		}
	}
}


@media (width < 860px) and (orientation: portrait) {

	.winnerContainer {
		width: 480px;
		height: 730px;
		
		.winnerPortraitContainer {
	
			.fireworkGround {
				top: 28%;
				left: 43%;
				scale: 1.6;
			}
	
			.fireworkGround2 {
				top: 28%;
				left: 9%;
				scale: 1.6;
			}
		}
		
		.winnerNameContainer {
			margin-top: 3rem;
	
			.winsText {
				font-size: 11rem;
				margin-top: 2rem;
			}
	
			.winnerName {
				font-size: 4.5rem;
			}
		}
	}
	
	.btnContinue {
		width: 250px;
		height: 75px;
		margin-top: 3rem;
		font-size: 3rem;
		border: 7px solid $gameResultsBtnBorder;
	}
	
	
	.drawContainer {
		width: 500px;
		height: 700px;
	}
	
	.playersContainer {
		height: 350px;
	}
	
	.drawTitleContainer {
		margin-top: 7rem;

		.drawText {
			font-size: 11rem;
		}
	
		.drawTypeText {
			font-size: 5rem;
		}
	}
}


@media (width < 801px) and (orientation: portrait) {

	.winnerContainer {
		
		.winnerPortraitContainer {
	
			.fireworkGround {
				top: 29%;
				left: 42%;
			}
	
			.fireworkGround2 {
				top: 29%;
				left: 7%;
			}
		}
	}
}


@media (width < 769px) and (orientation: portrait) {

	.winnerContainer {
		width: 350px;
		height: 650px;
		
		.winnerPortraitContainer {
	
			.fireworkGround {
				top: 26%;
				left: 41%;
				scale: 1.5;
			}
	
			.fireworkGround2 {
				top: 26%;
				left: 7%;
				scale: 1.5;
			}
		}
		
		.winnerNameContainer {
			margin-top: 3rem;
	
			.winsText {
				font-size: 10rem;
				margin-top: 1.5rem;
			}
	
			.winnerName {
				font-size: 4rem;
			}
		}
	}
	
	.btnContinue {
		width: 220px;
		height: 65px;
		margin-top: 3rem;
		font-size: 2.5rem;
	}
	
	
	.drawContainer {
		width: 450px;
		height: 580px;
	}
	
	.playersContainer {
		height: 300px;
	}
	
	.drawTitleContainer {
		margin-top: 4rem;

		.drawText {
			font-size: 10rem;
		}
	
		.drawTypeText {
			font-size: 4rem;
		}
	}
}


@media (width < 450px) and (orientation: portrait) {

	.winnerContainer {
		width: 300px;
		height: 600px;
		
		.winnerPortraitContainer {
	
			.fireworkGround {
				top: 23%;
				left: 30%;
				scale: 1.3;
			}
	
			.fireworkGround2 {
				top: 23%;
				left: -22%;
				scale: 1.3;
			}
		}
		
		.winnerNameContainer {
			margin-top: 3rem;
	
			.winsText {
				font-size: 8.5rem;
				margin-top: 1.5rem;
			}
	
			.winnerName {
				font-size: 4rem;
			}
		}
	}
	
	.btnContinue {
		width: 200px;
		height: 55px;
		margin-top: 3rem;
		font-size: 2rem;
	}
	
	
	.drawContainer {
		width: 300px;
		height: 450px;
	}
	
	.playersContainer {
		height: 200px;

		.player1Container {
			.sparks {
				top: 26%;
				right: -41%;
				width: 80%;
			}
		}
	}
	
	.drawTitleContainer {
		margin-top: 4rem;

		.drawText {
			font-size: 8.5rem;
		}
	
		.drawTypeText {
			font-size: 3rem;
		}
	}
}


@media (width < 429px) and (orientation: portrait) {

	.winnerContainer {
		width: 230px;
		height: 490px;
		
		.winnerPortraitContainer {
	
			.fireworkGround {
				top: 24%;
				left: 29%;
				scale: 1.2;
			}
	
			.fireworkGround2 {
				top: 24%;
				left: -21%;
				scale: 1.2;
			}
		}
		
		.winnerNameContainer {
			margin-top: 2.5rem;
	
			.winsText {
				font-size: 7.3rem;
				margin-top: 1.2rem;
			}
	
			.winnerName {
				font-size: 3.5rem;
			}
		}
	}
	
	.btnContinue {
		width: 160px;
		height: 50px;
		margin-top: 2.5rem;
		font-size: 1.8rem;
		border: 5px solid $gameResultsBtnBorder;
	}
	
	
	.drawContainer {
		width: 280px;
		height: 400px;
	}
	
	.playersContainer {
		height: 180px;

		.player1Container {
			.sparks {
				top: 26%;
				right: -41%;
				width: 80%;
			}
		}
	}
	
	.drawTitleContainer {
		margin-top: 4rem;

		.drawText {
			font-size: 7.3rem;
		}
	
		.drawTypeText {
			font-size: 2.5rem;
		}
	}
}


@media (width < 415px) and (orientation: portrait) {

	.winnerContainer {
		
		.winnerPortraitContainer {
	
			.fireworkGround {
				top: 22%;
				left: 23%;
				scale: 1;
			}
	
			.fireworkGround2 {
				top: 22%;
				left: -19%;
				scale: 1;
			}
		}
	}
}


@media (width < 394px) and (orientation: portrait) {

	.winnerContainer {
		
		.winnerPortraitContainer {
	
			.fireworkGround {
				top: 21%;
				left: 20%;
			}
	
			.fireworkGround2 {
				top: 21%;
				left: -23%;
			}
		}
	}
}


@media (width < 376px) and (orientation: portrait) {

	.winnerContainer {
		
		.winnerPortraitContainer {
	
			.fireworkGround {
				top: 21%;
				left: 21%;
			}
	
			.fireworkGround2 {
				top: 21%;
				left: -26%;
			}
		}
	}
}

@media (width < 376px) and (orientation: portrait) and (height < 800px) {

	.winnerContainer {
		
		.winnerPortraitContainer {
	
			.fireworkGround {
				top: 15%;
				left: 21%;
			}
	
			.fireworkGround2 {
				top: 15%;
				left: -27%;
			}
		}
	}
}

@media (width < 340px) and (orientation: portrait) {

	.winnerContainer {
		width: 180px;
		height: 360px;
		
		.winnerPortraitContainer {
	
			.fireworkGround {
				top: 11%;
				left: 12%;
				scale: 0.9;
			}
	
			.fireworkGround2 {
				top: 11%;
				left: -38%;
				scale: 0.9;
			}
		}
		
		.winnerNameContainer {
			margin-top: 1.8rem;
	
			.winsText {
				font-size: 5.5rem;
				margin-top: 0.7rem;
			}
	
			.winnerName {
				font-size: 2.8rem;
			}
		}
	}
	
	.btnContinue {
		width: 130px;
		height: 42px;
		margin-top: 1.5rem;
		font-size: 1.5rem;
		border-radius: 12px;
	}
	
	
	.drawContainer {
		width: 220px;
		height: 350px;
	}
	
	.playersContainer {
		height: 140px;
	}
	
	.drawTitleContainer {

		.drawText {
			font-size: 6rem;
		}
	
		.drawTypeText {
			font-size: 2rem;
		}
	}
}










