.mainContainer {
	width: 100%;

	h1 {
		font-size: 5.5rem;
		font-family: 'Bungee Spice', cursive;
	}
}

//  MEDIA QUERIES

@media (width > 1900px) {
	.mainContainer {
	
		h1 {
			font-size: 6.4rem;
		}
	}
}

@media (width > 2500px) {
	.mainContainer {
	
		h1 {
			font-size: 8.4rem;
		}
	}
}

@media (width > 3800px) {
	.mainContainer {
	
		h1 {
			font-size: 12.7rem;
		}
	}
}

@media (width < 1500px) {
	.mainContainer {
	
		h1 {
			font-size: 4.4rem;
		}
	}
}

@media (width < 1300px) {
	.mainContainer {
	
		h1 {
			font-size: 4rem;
		}
	}
}

@media (width < 1200px) {
	.mainContainer {
	
		h1 {
			font-size: 3.5rem;
		}
	}
}

@media (width < 1050px) {
	.mainContainer {
	
		h1 {
			font-size: 3.65rem;
		}
	}
}
