@keyframes highlighting {
	0% {
		scale: 1;
	}
	50% {
		scale: 1.2;
	}
	100% {
		scale: 1;
	}
}

.mainContainer {
	position: relative;
	width: 100%;
	height: 40vh;
	overflow: hidden;
}

.newGameContainer, .loadGameContainer, .playerVsComputerContainer, .onePlayerContainer, .backContainer {
	width: 100%;
	text-align: center;

}

.btnNewGame, .btnLoadGame, .btnPlayerVsComputer, .btnOnePlayer, .btnBack, .btnSelect {
	width: 70%;
	background-color: rgb(0,102,128);
	font-size: 2.5rem;
	font-family: 'Shadows Into Light', cursive;
	font-weight: 400;
	color: rgb(255,165,0);
	border: none;
	margin-top: 1.5rem;
	cursor: pointer;
	transition-property: background-color transform;
	transition-duration: 0.7s;

	&:hover {
		background-color: rgb(101, 3, 3);
		transform: rotate(-2deg);
	}
}

.leftFormatter, .rigthFormatter {
	position: absolute;
	top: 0%;
	width: 25%;
	height: 100%;
	background-color: rgb(4, 2, 55);
}

.leftFormatter {
	transform: rotate(155deg);
	left: 8%;
}

.rigthFormatter {
	transform: rotate(-155deg);
	right: 8%;
}

.loadGameContainer {

	.loadGameGameList {
		display: flex;
		flex-direction: column;
		margin-top: 1rem;
	}

	.higlightSlots {
		animation: highlighting 0.5s;
	}

	.slotWithData, .emptySlot {
		height: 18px;
		margin: auto;
		margin-top: 0.45rem;
		font-size: 1.6rem;
		width: 25%;
		font-family: 'Tilt Neon', sans-serif;
	}

	.slotWithData {
		cursor: pointer;
		color: rgb(255,165,0);
		transition-property: color scale;
		transition-duration: 0.5s;

		&:hover {
			color: rgb(225, 239, 146);
			scale: 1.2;
		}
	}

	.emptySlot {
		color: rgb(118, 173, 245);
	}

	.slotHighlighted {
		scale: 1.2;
		border-bottom: 2px solid tomato;
	}

	.btnSelect {

		&:hover {
			background-color: rgb(0,102,128);
			transform: rotate(0deg);
		}
	}
}
