.mainContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	width: 100%;
	padding: 1rem;

	.pieceContainer {
		width: 50%;
		height: 10.6vh;

		img {
			width: 5.007vh;
		}

		.pawnPiece {
			margin: 1rem 1rem 0rem 0rem;
		}

		.kingAndQueenPieces {
			margin: 0.17rem 1rem 0rem 0rem;
		}

		.rookBishopKnightPieces {
			margin: 0.39rem 1rem 0rem 0rem;
		}
	}
}



//  MEDIA QUERIES

@media (width < 1200px) {
	.mainContainer {
		flex-wrap: nowrap;
		width: 0%;
		height: 0%;
	}
}

@media (width < 1050px) and (orientation: portrait) {

	.mainContainer {
	
		.pieceContainer {
	
			img {
				width: 5.65dvw;
			}
		}
	}
}

@media (width < 500px) and (orientation: portrait) {

	.mainContainer {
	
		.pieceContainer {
	
			img {
				width: 5.59dvw;
			}
		}
	}
}
