.mainContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	width: 100%;
	padding: 1rem;

	.pieceContainer {
		width: 50%;
		height: 10.6vh;

		img {
			width: 5.007vh;
			margin: 1rem 1rem 0rem 0rem;
		}
	}
}