@use "./colors" as *;

@keyframes playerActiveContainer {
	0% {
		border: 1px solid $orange;
		scale: 1;
	}
	100% {
		border: 4px solid $orange;
		scale: 1.2;
	}
}

@keyframes playerActiveImage {
	0% {
		border: 1px solid $orange;
		scale: 1;
	}
	100% {
		border: 2px solid $orange;
		scale: 1.2;
	}
}

@keyframes playerNoActiveContainer {
	0% {
		border: 4px solid $orange;
		scale: 1.2;
	}
	100% {
		border: 1px solid $orange;
		scale: 1;
	}
}

@keyframes playerNoActiveImage {
	0% {
		border: 2px solid $orange;
		scale: 1.2;
	}
	100% {
		border: 1px solid $orange;
		scale: 1;
	}
}

.mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.computerContainer, .player2Container, .player1Container {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 70%;
	height: 55px;
	padding: 1rem 25% 1rem 1.5rem;
	color: $playerDataNames;
	font-size: 2.7rem;
	font-family: 'Tilt Neon', sans-serif;
	background-color: $black;
	border: 1px solid $orange;
	border-radius: 15px;

	img {
		position: absolute;
		right: -2%;
		width: 25%;
		border-radius: 50%;
		border: 2px solid $orange;
	}

	.dialogContainer {
		position: absolute;
		top: -78%;
		right: 12%;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25%;
		height: 100%;
		background-image: url("@/images/emojis/dialog_frame.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 40%;

		.dialogEmoji {
			position: static;
			margin-bottom: 10%;
			width: 50%;
		}
	}

	.dialogLoadingContainer {

		.dialogEmoji {
			width: 40%;
		}
	}

	.dialogHidden {
		display: none;
	}
}

.player1Container {
	margin: 8rem 0rem 6rem 0rem ;
}

.playerHighlighted {								// Highlights the player who is about to move.
	animation: playerActiveContainer 0.5s forwards;

	img {
		animation: playerActiveImage 0.5s forwards;
	}

	.dialogContainer {

		.dialogEmoji {
			width: 40%;
		}
	}
}

.playerNoHighlight {
	animation: playerNoActiveContainer 0.5s;

	img {
		animation: playerNoActiveImage 0.5s;
	}
}

.btnExitSaveGameContainer {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin-top: 2rem;
	text-align: center;

	.btnExitGame, .btnSaveGame {									// General styles for buttons. More specific styles for confirmation buttons are given below.
		width: 57%;
		background-color: $menuBtnBackground;
		font-size: 3rem;
		font-family: 'Shadows Into Light', cursive;
		font-weight: 600;
		color: $orange;
		border: none;
		cursor: pointer;
		transition-property: background-color transform;
		transition-duration: 0.7s;
	
		&:hover {
			background-color: $menuBtnBackgroundHovered;
			transform: rotate(-2deg);
		}
	}

	.btnExitGame {
		margin-top: 1.5rem;
	}

	.leftFormatter, .rigthFormatter {
		position: absolute;
		top: 0%;
		width: 12%;
		height: 120%;
		background-color: $menuPanel;
	}
	
	.leftFormatter {
		transform: rotate(155deg);
		left: 17%;
	}
	
	.rigthFormatter {
		transform: rotate(-155deg);
		right: 17%;
	}
}

.exitConfirmMainContainer {
	position: absolute;
	top: 0%;
	left: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: $dialogsBackground;
	z-index: 1;

	.exitConfirmOptionsContainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		width: 300px;
		height: 120px;	
		background-color: $black;
		border: 2px solid $orange;
	}

	p {
		color: $orange;
		font-family: 'Tilt Neon', sans-serif;
		font-size: 2.2rem;
		width: 100%;
		text-align: center;
	}

	.btnExitGame {
		width: 17%;
		border: 0rem;
		background-color: transparent;
		color: $orange;
		font-family: 'Mohave', sans-serif;
		font-size: 2.5rem;
		cursor: pointer;

		&:hover {
			color: $orangeButtonHovered;
			scale: 1.2;
		}
	}
}

.saveGameContainer {
	position: absolute;
	top: 0%;
	left: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: $dialogsBackground;
	z-index: 1;
}

.hidden {
	display: none;
}

.saveHidden {
	display: none;
}


//  MEDIA QUERIES

@media (width > 1900px) {

	.computerContainer, .player2Container, .player1Container {
		height: 70px;
		margin-top: 2.5rem;
		font-size: 3rem;
	
		img {
			width: 30%;
		}
	
		.dialogContainer {
			top: -88%;
			right: 15%;
			width: 30%;
	
			.dialogEmoji {
				width: 50%;
			}
		}
	
		.dialogLoadingContainer {
	
			.dialogEmoji {
				width: 38%;
			}
		}
	}
	
	.player1Container {
		margin: 12rem 0rem 6rem 0rem ;
	}
	
	.playerHighlighted {								// Highlights the player who is about to move.
	
		.dialogContainer {
	
			.dialogEmoji {
				width: 40%;
			}
		}
	}
	
	.btnExitSaveGameContainer {
		margin-top: 4rem;
	
		.btnExitGame, .btnSaveGame {									// General styles for buttons. More specific styles for confirmation buttons are given below.
			width: 67%;
			height: 70px;
			font-size: 3.6rem;
		}
	
		.btnExitGame {
			margin-top: 1.7rem;
		}
	
		.leftFormatter, .rigthFormatter {
			top: -10%;
			width: 17%;
			height: 130%;
		}
		
		.leftFormatter {
			left: 9.5%;
		}
		
		.rigthFormatter {
			right: 9.5%;
		}
	}
	
	.exitConfirmMainContainer {
	
		.exitConfirmOptionsContainer {
			width: 400px;
			height: 150px;	
		}
	
		p {
			font-size: 3rem;
		}
	
		.btnExitGame {
			font-size: 3rem;
		}
	}
}


@media (width > 2500px) {

	.computerContainer, .player2Container, .player1Container {
		height: 85px;
		margin-top: 6rem;
		font-size: 4rem;
	
		img {
			width: 32%;
		}
	
		.dialogContainer {
			top: -105%;
			right: 18%;
			width: 25%;
			scale: 1.1;

			.dialogEmoji {
				width: 53%;
			}
		}
	}
	
	.player1Container {
		margin: 18rem 0rem 10rem 0rem ;
	}
	
	.btnExitSaveGameContainer {
		margin-top: 4rem;
	
		.btnExitGame, .btnSaveGame {									// General styles for buttons. More specific styles for confirmation buttons are given below.
			width: 67%;
			height: 80px;
			font-size: 4.6rem;
		}
	}
	
	.exitConfirmMainContainer {
	
		.exitConfirmOptionsContainer {
			width: 600px;
			height: 200px;	
		}
	
		p {
			font-size: 4rem;
		}
	
		.btnExitGame {
			font-size: 4rem;
		}
	}
}



@media (width > 3800px) {

	.computerContainer, .player2Container, .player1Container {
		height: 110px;
		margin-top: 15rem;
		font-size: 6rem;
	
		img {
			width: 32%;
		}
	
		.dialogContainer {
			top: -120%;
			right: 18%;
			width: 25%;
			scale: 1.3;

			.dialogEmoji {
				width: 50%;
			}
		}
		.dialogLoadingContainer {
	
			.dialogEmoji {
				width: 36%;
			}
		}
	}
	
	.playerHighlighted {								// Highlights the player who is about to move.
	
		.dialogContainer {
	
			.dialogEmoji {
				width: 36%;
			}
		}
	}
	
	.player1Container {
		margin: 27rem 0rem 20rem 0rem ;
	}
	
	.btnExitSaveGameContainer {
		margin-top: 4rem;
	
		.btnExitGame, .btnSaveGame {									// General styles for buttons. More specific styles for confirmation buttons are given below.
			width: 67%;
			height: 110px;
			font-size: 6.6rem;
			margin-top: 3rem;
		}
	}
	
	.exitConfirmMainContainer {
	
		.exitConfirmOptionsContainer {
			width: 900px;
			height: 350px;
			border: 3px solid $orange;	
		}
	
		p {
			font-size: 6rem;
		}
	
		.btnExitGame {
			font-size: 6rem;
		}
	}
}



@media (width < 1500px) {

	.computerContainer, .player2Container, .player1Container {
		height: 50px;
		margin-top: 0.5rem;
		font-size: 2.1rem;
	
		img {
			width: 30%;
		}
	
		.dialogContainer {
			top: -94%;
			right: 14%;
			width: 30%;
			scale: 1.1;
	
			.dialogEmoji {
				width: 50%;
			}
		}
	}
	
	.player1Container {
		margin: 8rem 0rem 4rem 0rem ;
	}
	
	.playerHighlighted {								// Highlights the player who is about to move.
		
		.dialogContainer {
	
			.dialogEmoji {
				width: 37%;
			}
		}
	}
	
	.btnExitSaveGameContainer {
		margin-top: 4rem;
	
		.btnExitGame, .btnSaveGame {									// General styles for buttons. More specific styles for confirmation buttons are given below.
			width: 67%;
			height: 50px;
			font-size: 2.6rem;
		}
	
		.btnExitGame {
			margin-top: 1.2rem;
		}
	
		.leftFormatter, .rigthFormatter {
			top: -10%;
			width: 17%;
			height: 130%;
		}
		
		.leftFormatter {
			left: 9.5%;
		}
		
		.rigthFormatter {
			right: 9.5%;
		}
	}
	
	.exitConfirmMainContainer {
	
		.exitConfirmOptionsContainer {
			width: 400px;
			height: 150px;	
		}
	
		p {
			font-size: 3rem;
		}
	
		.btnExitGame {
			font-size: 3rem;
		}
	}
}


@media (width < 1300px) {

	@keyframes playerActiveContainer {
		0% {
			border: 1px solid $orange;
			scale: 1;
		}
		100% {
			border: 3px solid $orange;
			scale: 1.2;
		}
	}
	
	@keyframes playerNoActiveContainer {
		0% {
			border: 3px solid $orange;
			scale: 1.2;
		}
		100% {
			border: 1px solid $orange;
			scale: 1;
		}
	}

	.computerContainer, .player2Container, .player1Container {
		height: 40px;
		margin-top: 0.5rem;
		font-size: 1.8rem;
	
		img {
			width: 32%;
		}
	
		.dialogContainer {
			top: -94%;
			right: 14%;
			width: 30%;
			scale: 1.1;
	
			.dialogEmoji {
				width: 43%;
			}
		}
	}
	
	.player1Container {
		margin: 8rem 0rem 4rem 0rem ;
	}
	
	.playerHighlighted {								// Highlights the player who is about to move.
		
		.dialogContainer {
	
			.dialogEmoji {
				width: 34%;
			}
		}
	}
	
	.btnExitSaveGameContainer {
		margin-top: 3rem;
	
		.btnExitGame, .btnSaveGame {									// General styles for buttons. More specific styles for confirmation buttons are given below.
			width: 67%;
			height: 40px;
			font-size: 2.3rem;
		}
	
		.btnExitGame {
			margin-top: 1rem;
		}
	}
	
	.exitConfirmMainContainer {
	
		.exitConfirmOptionsContainer {
			width: 370px;
			height: 140px;	
		}
	
		p {
			font-size: 2.5rem;
		}
	
		.btnExitGame {
			font-size: 2.5rem;
		}
	}
}


@media (width < 1200px) {

	.computerContainer, .player2Container, .player1Container {
		margin-top: 0rem;
		font-size: 1.53rem;
	
		.dialogContainer {
	
			.dialogEmoji {
				width: 53%;
			}
		}
	}
	
	.player1Container {
		margin: 7rem 0rem 5rem 0rem ;
	}
	
	.playerHighlighted {								// Highlights the player who is about to move.
		
		.dialogContainer {
	
			.dialogEmoji {
				width: 40%;
			}
		}
	}
	
	.btnExitSaveGameContainer {
		margin-top: 3rem;
	
		.btnExitGame, .btnSaveGame {									// General styles for buttons. More specific styles for confirmation buttons are given below.
			width: 70%;
			height: 40px;
			font-size: 2.3rem;
		}
	
		.leftFormatter, .rigthFormatter {
			width: 16%;
		}

		.leftFormatter {
			left: 7%;
		}
		
		.rigthFormatter {
			right: 7%;
		}
	}
}


@media (width < 1050px) {
	
.mainContainer {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	width: 100%;
	margin-top: 3rem;
}

.player2Container, .player1Container {
	width: 40%;
	height: 40px;
	font-size: 2rem;

	.dialogContainer {
		top: -110%;
		right: 15%;
		width: 25%;

		.dialogEmoji {
			width: 45%;
		}
	}
}

.player1Container {
	margin: 3rem 0rem 3.8rem 0rem ;
	order: 3;
}

.player2Container {
	margin: 3rem 0rem 3.8rem 0rem ;
	order: 2;
}


.playerHighlighted {								// Highlights the player who is about to move.

	.dialogContainer {
		top: -110%;
		right: 15%;
		width: 25%;

		.dialogEmoji {
			width: 34%;
		}
	}

	.dialogLoadingContainer {

		.dialogEmoji {
			width: 34%;
		}
	}
}

.btnExitSaveGameContainer {
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: 0%;
	order: 1;
	width: 50%;
	padding: 1rem;
	margin-top: 0rem;

	.btnExitGame, .btnSaveGame {									// General styles for buttons. More specific styles for confirmation buttons are given below.
		width: 45%;
		height: 50px;
		border-radius: 50%;
		font-size: 3rem;
		box-shadow: 0px 0px 7px 3px;
	}

	.btnExitGame {
		margin-top: 0rem;
	}

	.leftFormatter, .rigthFormatter {
		display: none;
	}
}

.exitConfirmMainContainer {

	.exitConfirmOptionsContainer {

		width: 400px;
		height: 150px;	
	}

	p {
		font-size: 3rem;
	}

	.btnExitGame {
		font-size: 3rem;
	}
}

.hidden {
	display: none;
}

.saveHidden {
	display: none;
}
}


@media (width < 950px) {
	
	.mainContainer {
		margin-top: 2.25rem;
	}
	
	.player2Container, .player1Container {
		height: 33px;
		font-size: 1.8rem;
	
		.dialogContainer {
			top: -130%;
			right: 15%;
	
			.dialogEmoji {
				margin-right: 0.3rem;
				width: 41%;
			}
		}
	}
	
	.player1Container {
		margin: 3rem 0rem 3rem 0rem ;
	}
	
	.player2Container {
		margin: 3rem 0rem 3rem 0rem ;
	}
	
	
	.playerHighlighted {								// Highlights the player who is about to move.
	
		.dialogContainer {
			top: -110%;
			right: 15%;
	
			.dialogEmoji {
				margin-top: 0.2rem;
				width: 32%;
			}
		}
	
		.dialogLoadingContainer {
	
			.dialogEmoji {
				margin-top: 0.2rem;
				width: 30%;
			}
		}
	}
}


@media (width < 860px) {
	
	.mainContainer {
		margin-top: 0rem;
	}
	
	.player2Container, .player1Container {
		height: 30px;
		font-size: 1.5rem;
	}
	
	.player1Container {
		margin: 5rem 0rem 2.9rem 0rem ;
	}
	
	.player2Container {
		margin: 5rem 0rem 2.9rem 0rem ;
	}
}

@media (width < 770px) {
	
	.mainContainer {
		justify-content: space-between;
	}
	
	.player2Container, .player1Container {
		width: 37%;
		height: 35px;
		font-size: 2rem;
	
		.dialogContainer {
			top: -115%;
			right: 14%;
			scale: 1.3;
	
			.dialogEmoji {
				width: 45%;
			}
		}
	}
	
	.player1Container {
		margin: 5.5rem 0rem 3.5rem 0rem ;
		order: 3;
	}
	
	.player2Container {
		margin: 5.5rem 0rem 3.5rem 0rem ;
		order: 2;
	}
	
	
	.playerHighlighted {								// Highlights the player who is about to move.
	
		.dialogContainer {
			top: -125%;
			right: 15%;
		}
	
		.dialogLoadingContainer {
	
			.dialogEmoji {
				width: 34%;
			}
		}
	}
	
	.btnExitSaveGameContainer {
		bottom: 2%;
		left: 20%;
		width: 60%;
	
		.btnExitGame, .btnSaveGame {									// General styles for buttons. More specific styles for confirmation buttons are given below.
			overflow: hidden;
			height: 55px;
		}
	}
}