@use "./colors" as *;

@keyframes highlightAnim {
	0% {
		scale: 1;
	}
	50% {
		scale: 1.1;
	}
	100% {
		scale: 1;
	}
}

@keyframes highlightAnim2 {
	0% {
		scale: 1;
	}
	50% {
		scale: 1.1;
	}
	100% {
		scale: 1;
	}
}

.saveGameContentContainer {
	display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width: 500px;
		height: 240px;	
		background-color: $black;
		border: 2px solid $orange;

	.mainText {
		color: $orange;
		font-family: 'Tilt Neon', sans-serif;
		font-size: 3rem;
		width: 100%;
		text-align: center;
	}

	.slotsContainer {
		display: flex;
		justify-content: space-around;
		width: 90%;
		border-radius: 15px;

		.slotName {
			width: 135px;
			height: 35px;
			cursor: pointer;
			user-select: none;
			border: none;
			border-radius: 5px;
			background-color: $saveGameSlotsBackground;
			color: $white;
			font-size: 1.8rem;
			font-family: 'Tilt Neon', sans-serif;

			&:hover {
				background-color: $saveGameSlotsHoverBackground;
			}
		}
		
		.btnHighlighted {
			border: 3px solid $orange;
		}
	}

	.slotsContainerHighlighted {
		animation: highlightAnim 0.4s;
	}

	.input {
		width: 200px;
		height: 40px;
		text-align: center;
		padding: 0rem 1rem 0rem 1rem;
		outline: none;
		border: none;
		border-radius: 15px;
		background-color: $gameResultsBtnBackgroundHovered;
		color: $white;
		font-size: 2.1rem;
		font-family: 'Mohave', sans-serif;
		
		&:disabled {
			background-color: $saveGameSlotsBackgroundDisabled;

			&::placeholder {
				color: transparent;
			}
		}

		&::placeholder {
			font-size: 1.8rem;
			color: $white;
		}
	}

	.inputHighlighted {
		animation: highlightAnim2 0.5s;
	}

	.btnsContainer {
		display: flex;
		justify-content: space-around;
		width: 100%;

		.btnSaveGame, .btnCancelSave {
			width: 17%;
			border: 0rem;
			background-color: transparent;
			color: $orange;
			font-family: 'Mohave', sans-serif;
			font-size: 2.7rem;
			cursor: pointer;
	
			&:hover {
				color: $orangeButtonHovered;
				scale: 1.2;
			}
		}
	}
}



//  MEDIA QUERIES

@media (width < 1050px) and (orientation: portrait) {

	.saveGameContentContainer {
		width: 800px;
		height: 500px;	
	
		.mainText {
			font-size: 5.5rem;
		}
	
		.slotsContainer {
			width: 90%;
	
			.slotName {
				width: 220px;
				height: 60px;
				border-radius: 10px;
				font-size: 2.5rem;
				font-weight: 600;
				letter-spacing: 2px;
			}
		}
	
		.input {
			width: 300px;
			height: 60px;
			padding: 0.5rem 1rem 0rem 1rem;
			font-size: 3.4rem;
			font-weight: 600;
			letter-spacing: 2px;
	
			&::placeholder {
				font-size: 3rem;
			}
		}
	
		.btnsContainer {
	
			.btnSaveGame, .btnCancelSave {
				font-size: 5.5rem;
			}
		}
	}
}


@media (width < 860px) and (orientation: portrait) {

	.saveGameContentContainer {
		width: 650px;
		height: 500px;	
	
		.slotsContainer {
			width: 90%;
	
			.slotName {
				width: 180px;
				height: 65px;
				font-size: 2.1rem;
			}
		}
	}
}

@media (width < 450px) and (orientation: portrait) {

	.saveGameContentContainer {
		width: 95vw;
		height: 55vh;	
	
		.mainText {
			font-size: 4.5rem;
		}
	
		.slotsContainer {
			flex-direction: column;
			align-items: center;
			row-gap: 1rem;
			width: 98%;
	
			.slotName {
				width: 53%;
				height: 45px;
				border-radius: 5px;
				font-size: 2rem;
				letter-spacing: 2px;
			}
		}
	
		.input {
			width: 250px;
			height: 50px;
			padding: 0.5rem 1rem 0rem 1rem;
			font-size: 2.5rem;
			letter-spacing: 2px;
	
			&::placeholder {
				font-size: 2rem;
			}
		}
	
		.btnsContainer {
			

			.btnSaveGame, .btnCancelSave {
				width: 50%;
				font-size: 4.5rem;
			}
		}
	}
}


@media (width < 450px) and (orientation: portrait) and (height < 855px) {

	.saveGameContentContainer {
		width: 95vw;
		height: 65vh;	
	}
}


@media (width < 394px) and (orientation: portrait) {

	.saveGameContentContainer {
		width: 95vw;
		height: 55vh;	
	
		.mainText {
			font-size: 4rem;
		}
	
		.slotsContainer {

			.slotName {
				height: 40px;
				font-size: 1.6rem;
			}
		}
	
		.input {
			width: 250px;
			height: 45px;
			padding: 0.4rem 1rem 0rem 1rem;
			font-size: 2.5rem;
			letter-spacing: 2px;
	
			&::placeholder {
				font-size: 2rem;
			}
		}
	
		.btnsContainer {
			

			.btnSaveGame, .btnCancelSave {
				width: 50%;
				font-size: 4rem;
			}
		}
	}
}

@media (width < 340px) and (orientation: portrait) {

	.saveGameContentContainer {
		width: 95vw;
		height: 67vh;	
	
		.mainText {
			font-size: 3.7rem;
		}
	
		.slotsContainer {

			.slotName {
				height: 30px;
				font-size: 1.4rem;
			}
		}
	
		.input {
			width: 230px;
			height: 35px;
			padding: 0.3rem 1rem 0rem 1rem;
			font-size: 1.8rem;
			letter-spacing: 2px;
			border-radius: 10px;
	
			&::placeholder {
				font-size: 1.5rem;
			}
		}
	
		.btnsContainer {
			

			.btnSaveGame, .btnCancelSave {
				font-size: 3.5rem;
			}
		}
	}
}