@use "./colors" as *;

@keyframes animateInput {
	0% {
		scale: 1
	}
	50% {
		scale: 1.2
	}
	100% {
		scale: 1
	}
}

.mainContainer {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: $dialogsBackground;
	z-index: 1;
}

.playerInfoContainer{
	position: relative;
	width: 450px;
	height: 550px;
	border-radius: 15px;
	border: 3px solid $orange;
	background-color: $menuPanel;
	color: $white;
	

	.playerNumberAndPieceContainer {
		display: flex;
		justify-content: center;
		align-items: baseline;
		margin-top: 1.5rem;

		.playerInfoNumber {
			margin: 0rem 2.5rem 0rem 2rem;
			font-family: 'Tilt Neon', sans-serif;
			font-size: 5.5rem;
			text-transform: uppercase;
			color: $winnerNameAndAxiosText;
		}

		img {
			height: 4rem;
		}
	}

	.slideshowContainer {
		width: 50%;
		margin: auto;
		margin-top: 3rem;
	}

	.animateInputOnError {
		animation: animateInput 0.5s;
	}

	.playerInfoInput {
		width: 55%;
		padding: 0.6rem;
		display: block;
		margin: auto;
		margin-top: 3rem;
		border: 5px solid $gameResultsBtnBorder;
		border-radius: 15px;
		background-color: $gameResultsBtnBackground;
		color: $white;
		text-align: center;
		font-family: 'Tilt Neon', sans-serif;
		font-size: 2.5rem;
		outline: 0px;

		&:focus {
			border: 5px solid $gameResultsBtnBackgroundHovered;
			scale: 1.1;
		}

		&::placeholder {
			color: $placeholderText;	
		}
	}
	
	.playerInfobtnOk {
		position: absolute;
		bottom: 0%;
		right: 2%;
		border: 0rem;
		background-color: transparent;
		color: $orange;
		font-family: 'Mohave', sans-serif;
		font-size: 4.5rem;
		cursor: pointer;

		&:hover {
			color: $orangeButtonHovered;
		}
	}
}

.aiGamePlayerInfoContainer {
	height: 620px;

	.difficultLevelsContainer {
		display: flex;
		justify-content: space-between;
		width: 75%;
		margin: auto;
		margin-top: 2rem;

		.difficultyContainer {
			display: flex;
			justify-content: center;
			align-items: center;
			user-select: none;
			width: 30%;
			height: 40px;

			p {
				cursor: pointer;
				font-family: 'Tilt Neon', sans-serif;
				font-size: 2.5rem;
				color: $winnerNameAndAxiosText;
			}
		}

		.difficultySelected {
			position: relative;

			&::before {
				position: absolute;
				width: 70%;
				height: 100px;
				content: "";
				background-image: url("../../public/images/background/circleCheck.png");
				background-repeat: no-repeat;
				background-size: contain;
				transform: rotate(90deg);
				z-index: 0;
			}
		}
	}
}



//  MEDIA QUERIES

@media (width > 1900px) {

	.playerInfoContainer{
		width: 550px;
		height: 730px;
	
		.playerNumberAndPieceContainer {
			margin-top: 2.5rem;
	
			.playerInfoNumber {
				margin: 0rem 3.5rem 0rem 3rem;
				font-size: 6.5rem;
			}
	
			img {
				height: 5rem;
			}
		}
	
		.slideshowContainer {
			margin-top: 4rem;
		}
	
		.playerInfoInput {
			width: 55%;
			padding: 1rem;
			margin-top: 5rem;
			margin-bottom: 3rem;
			border: 8px solid $gameResultsBtnBorder;
			font-size: 3rem;
	
			&:focus {
				border: 8px solid $gameResultsBtnBackgroundHovered;
			}
		}
		
		.playerInfobtnOk {
			font-size: 6rem;
		}
	}
	
	.aiGamePlayerInfoContainer {
		height: 800px;
	
		.difficultLevelsContainer {
			margin-top: 4rem;
	
			.difficultyContainer {
				width: 30%;
				height: 40px;
	
				p {
					font-size: 3.5rem;
				}
			}
	
			.difficultySelected {
	
				&::before {
					width: 80%;
					height: 135px;
				}
			}
		}
	}
}


@media (width > 2500px) {

	.playerInfoContainer{
		width: 800px;
		height: 970px;
		border: 4px solid $orange;
	
		.playerNumberAndPieceContainer {
			margin-top: 3.5rem;
	
			.playerInfoNumber {
				font-size: 8.5rem;
			}
	
			img {
				height: 6rem;
			}
		}
	
		.slideshowContainer {
			margin-top: 4rem;
		}
	
		.playerInfoInput {
			width: 55%;
			padding: 1.5rem;
			margin-top: 5rem;
			margin-bottom: 3rem;
			border: 9px solid $gameResultsBtnBorder;
			font-size: 3.5rem;
	
			&:focus {
				border: 9px solid $gameResultsBtnBackgroundHovered;
			}
		}
		
		.playerInfobtnOk {
			font-size: 8rem;
		}
	}
	
	.aiGamePlayerInfoContainer {
		height: 1080px;
	
		.difficultLevelsContainer {
			margin-top: 6rem;
			margin-bottom: 6.5rem;
	
			.difficultyContainer {
				width: 30%;
				height: 40px;
	
				p {
					font-size: 4.5rem;
				}
			}
	
			.difficultySelected {
	
				&::before {
					width: 70%;
					height: 175px;
				}
			}
		}
	}
}



@media (width > 3800px) {

	.playerInfoContainer{
		width: 1200px;
		height: 1450px;
		border: 4px solid $orange;
	
		.playerNumberAndPieceContainer {
			margin-top: 5.5rem;
	
			.playerInfoNumber {
				font-size: 14rem;
			}
	
			img {
				height: 12rem;
			}
		}
	
		.slideshowContainer {
			margin-top: 6rem;
		}
	
		.playerInfoInput {
			width: 55%;
			padding: 1.5rem;
			margin-top: 7rem;
			margin-bottom: 3rem;
			border: 12px solid $gameResultsBtnBorder;
			border-radius: 28px;
			font-size: 5.5rem;
	
			&:focus {
				border: 12px solid $gameResultsBtnBackgroundHovered;
			}
		}
		
		.playerInfobtnOk {
			font-size: 12rem;
		}
	}
	
	.aiGamePlayerInfoContainer {
		height: 1620px;
	
		.difficultLevelsContainer {
			margin-top: 9.5rem;
			margin-bottom: 10rem;
	
			.difficultyContainer {
				width: 30%;
				height: 40px;
	
				p {
					font-size: 6.5rem;
				}
			}
	
			.difficultySelected {
	
				&::before {
					width: 70%;
					height: 255px;
				}
			}
		}
	}
}