@use "./colors" as *;

@keyframes nextPortraitAnim {
	0% {
		right: -105%;
	}
	100% {
		right: 0%;
	}
}

@keyframes prevPortraitAnim {
	0% {
		left: -105%;
	}
	100% {
		left: 0%;
	}
}

.mainContainer {
	width: 100%;
}

.hide {
	display: none;
}

.imagesContainer {
	position: relative;
	width: 100%;
	overflow: hidden;

	img {
		width: 100%;
		scale: 1.018;
	}

	.prevImageContainer,
	.actualImageContainer,
	.nextImageContainer {
		position: absolute;
		width: 100%;
		border: 3px solid $orange;
		border-radius: 50%;
		overflow: hidden;
	}

	.prevImageContainer {
		left: -105%;
		z-index: 1;
	}

	.animatePrevPortrait {
		animation: prevPortraitAnim forwards 0.3s;
	}

	.actualImageContainer {
		position: static;
		z-index: 0;
	}

	.nextImageContainer {
		top: 0%;
		right: -105%;
	}

	.animateNextPortrait {
		animation: nextPortraitAnim forwards 0.3s;
	}

	.nextIconContainer,
	.prevIconContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 70%;
		width: 35px;
		height: 35px;
		background-color: $white;
		border-radius: 100%;
		cursor: pointer;
		user-select: none;
		z-index: 2;

		img {
			width: 10px;
			transition-property: scale filter;
			transition-duration: 0.4s;
		}

		&:hover {
			img {
				scale: 1.3;
				filter: invert(75%) sepia(28%) saturate(6645%) hue-rotate(359deg)
					brightness(104%) contrast(106%);
			}
		}
	}

	.nextIconContainer {
		right: 0%;

		img {
			margin-left: 0.6rem;
		}
	}

	.prevIconContainer {
		left: 0%;

		img {
			margin-right: 0.6rem;
		}
	}
}

//  MEDIA QUERIES

@media (width > 1900px) {
	.imagesContainer {
		.prevImageContainer,
		.actualImageContainer,
		.nextImageContainer {
			border: 4px solid $orange;
		}

		.nextIconContainer,
		.prevIconContainer {
			width: 45px;
			height: 45px;

			img {
				width: 15px;
			}
		}
	}
}

@media (width > 2500px) {
	.imagesContainer {
		.prevImageContainer,
		.actualImageContainer,
		.nextImageContainer {
			border: 4px solid $orange;
		}

		.nextIconContainer,
		.prevIconContainer {
			width: 55px;
			height: 55px;

			img {
				width: 20px;
			}
		}
	}
}

@media (width > 3800px) {
	.imagesContainer {
		.prevImageContainer,
		.actualImageContainer,
		.nextImageContainer {
			border: 6px solid $orange;
		}

		.nextIconContainer,
		.prevIconContainer {
			width: 85px;
			height: 85px;

			img {
				width: 30px;
			}
		}
	}
}

@media (width < 1050px) and (orientation: portrait) {
	.imagesContainer {
		.nextIconContainer {
			width: 60px;
			height: 60px;

			img {
				width: 20px;
				margin-left: 0.8rem;
			}
		}

		.prevIconContainer {
			width: 60px;
			height: 60px;

			img {
				width: 20px;
				margin-right: 0.8rem;
			}
		}
	}
}

@media (width < 450px) and (orientation: portrait) {
	.imagesContainer {
		.nextIconContainer {
			width: 50px;
			height: 50px;

			img {
				width: 15px;
			}
		}

		.prevIconContainer {
			width: 50px;
			height: 50px;

			img {
				width: 15px;
			}
		}
	}
}

@media (width < 394px) and (orientation: portrait) {
	.imagesContainer {
		.nextIconContainer {
			width: 35px;
			height: 35px;

			img {
				width: 10px;
				margin-left: 0.5rem;
			}
		}

		.prevIconContainer {
			width: 35px;
			height: 35px;

			img {
				width: 10px;
				margin-right: 0.5rem;
			}
		}
	}
}

@media (width < 340px) and (orientation: portrait) {
	.imagesContainer {
		.nextIconContainer {
			width: 30px;
			height: 30px;

			img {
				width: 9px;
			}
		}

		.prevIconContainer {
			width: 30px;
			height: 30px;

			img {
				width: 9px;
			}
		}
	}
}
