@use "./components/colors" as *;

body {
	overflow: hidden;
	background-image: url("@/images/background/nebula1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.mainContainer {
	display: flex;
	align-items: center;
	width: 100vw;
	height: 100vh;
	backdrop-filter: blur(3px) brightness(70%);
}

.logoMobileContainer {
	display: none;
}

.gameZoneContainer {
	display: flex;
	justify-content: center;
	column-gap: 2rem;
	align-items: center;
	width: 75%;

	.BlackPiecesInitContainer {
		width: 15vh;
		height: 87vh;
	}

	.boardContainer {
		width: 87vh;
		height: 87vh;
	}

	.WhitePiecesInitContainer {
		width: 15vh;
		height: 87vh;
	}
}

.headerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25%;
	height: 95%;
	margin-right: 2rem;
	border: 3px solid $orange;
	border-radius: 15px;
	background-color: $menuPanel;
	box-shadow: 5px 5px 20px 10px;

	.logoContainer {
		padding-top: 4rem;
	}

	.menuContainer {
		width: 100%;
		padding-top: 6rem;
	}
}

.rotateWarningContainer {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100vw;
	height: 100vh;
	background-color: $black;

	.rotateWarningContent {
		display: flex;
		flex-direction: column;
		row-gap: 2rem;
		justify-content: center;
		align-items: center;
		width: 90dvw;
		height: 50svh;
		border: 3px solid $orange;
		background-color: $black;

		p {
			color: $orange;
			font-family: 'Tilt Neon', sans-serif;
			font-size: 4rem;
			text-align: center;
			letter-spacing: 2px;
		}

		.checkmate {
			font-family: 'Bungee Spice', cursive;
			font-size: 5rem;
		}

		.portrait {
			color: $winnerNameAndAxiosText;
		}
	}
}



//  MEDIA QUERIES

@media (width < 1500px) {

	.headerContainer {
		width: 24%;
		border: 3px solid $orange;
		border-radius: 15px;
		box-shadow: 3px 3px 7px 5px;
		margin-right: 0rem;
	}
}


@media (width < 1250px) {

	.gameZoneContainer {
		flex-direction: column;
		column-gap: 0rem;
	
		.BlackPiecesInitContainer {
			width: 0vh;
			height: 0vh;
			padding-bottom: 20vh;
		}

		.boardContainer {
			width: 100%;
			height: 100%;
		}
	
		.WhitePiecesInitContainer {
			width: 0vh;
			height: 0vh;
			padding-top: 20vh;
		}
	}
	
	.headerContainer {
		width: 24%;
		margin-right: 0rem;
		box-shadow: 3px 3px 20px 3px;
	
		.logoContainer {
			padding-top: 2.5rem;
		}
	}
}

@media (width < 1050px) and (orientation: portrait) {
	
	body {
		overflow-x: hidden;
	}

	.mainContainer {
		flex-direction: column;
		width: 100dvw;
		height: 100dvh;
		overflow-x: hidden;
	}

	.logoMobileContainer {
		display: block;
		margin-bottom: 2rem;
	}

	.gameZoneContainer {
		flex-direction: row;
		width: 100%;

		.BlackPiecesInitContainer {
			padding: 0rem 15rem 0rem 0rem;
		}

		.WhitePiecesInitContainer {
			padding: 0rem 0rem 0rem 15rem;
		}
	}

	.headerContainer {
		display: none;
	}
}



@media (width < 1050px) and (orientation: landscape) {

	body {
		overflow: hidden;
	}

	.rotateWarningContainer {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media (height < 500px) and (orientation: landscape) {

	.rotateWarningContainer {

		.rotateWarningContent {
		height: 75svh;
		}
	}
}

@media (height < 400px) and (orientation: landscape) {

	.rotateWarningContainer {

		.rotateWarningContent {
		height: 75svh;

		p {
			font-size: 3rem;
		}

		.checkmate {
			font-size: 3.5rem;
		}
		}
	}
}
